/* Base Element Styles */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

* {
	box-sizing: border-box;
}

body {
  font-family: "system";
}

h1,
h2,
h3 {
	font-weight: bold;
	margin-top: 2rem;
	margin-bottom: 1rem;
	line-height: 1.1;
	text-align: center;
}

h1 {
	font-size: 2.25rem;
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.25rem;
}


p {
	line-height: 1.5;
	margin-bottom: 1.5rem;
	text-align: center;
}

a {
	color: black;
	text-decoration: none;
}

img {
	padding: 0 10px;
	width: 100%;
	max-width: 100%;
}

.name {
	text-align: center;
}
.student-picture {
	padding-top: 20px;
	padding-bottom: 15px;
}
.introduction {
	padding: 0 10px;
}

.portfolio-title {
	text-align: center;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 18px;
}

.main-nav li a {
	text-align: center;
	display: block;
	padding: 12px;
	font-weight: bold;
}

.portfolio {
	margin: 2rem 0;
	hyphens: auto;
}

.studentname-footer {
	display: inline-block;
	float: left;
}

.back-to-top {
	display: inline-block;
	float: right;
}

.footer-nav {
	display: none;
}

@media screen and (min-width: 768px) {

	.portfolio-title {
		font-size: 24px;
	}

	p {
		font-size: 24px;
	}

	h1 {
		font-size: 1.5em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.5em;
	}

	.name {
		display: block;
		font-size: 30px;
		margin-top: 40px;
	}

	.main-nav {
		display: block;
		text-align: center;
	}

	.main-nav li {
		display: inline-block;
		padding-top: 27px;
		padding-right: 20px;
		font-size: 20px;

	}

	.introduction {
		display: block;
		float: left;
		width: 60%;
		padding: 40px 20px 20px 30px;
		margin: 0 20px;
	}

	.student-picture {
		display: block;
		float: right;
		width: 30%;
		margin-right: 30px;
	}

	.portfolio-title {
		display: inline-block;
		width: 100%;
	}

	ul.products li {
		width: 49%;
		display: inline-block;
		vertical-align: top;
}

.back-to-top {
	display: none;
}
.studentname-footer {
	display: inline-block;
	float: left;
	text-align: left;
}

.footer-nav {
	display: inline-block;
	float: right;
}

.footer-nav li {
	display: inline-block;
	text-align: right;
}


}

@media screen and (min-width: 1024px) {

	.portfolio-title {
		font-size: 24px;
	}

	p {
		font-size: 24px;
	}

	h1 {
		font-size: 1.5em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.5em;
	}


	.name {
		display: inline-block;
		float: left;
		padding-left: 20px;
		font-size: 2em;
	}

	.main-nav {
		display: inline-block;
		float: right;
	}

	.main-nav li {
		display: inline-block;
		float: left;
		padding-top: 27px;
		padding-right: 20px;
		font-size: 1.75em;
	}

	.portfolio-title {
		font-size:
	}

	ul.products li {
		width: 32%;
		display: inline-block;
		vertical-align: top;
	}

	.contact-title {
		margin-top: 5em;
	}

}
